.carolbg{
    background-color:$background-color;  
}

.carol{
   max-width: 40rem;
   max-height: 40rem;
   display: block;
   margin-left: auto;
   margin-right: auto;
   background-size: cover;
   z-index: 2;
}